@import './main-components/styling/variables.scss';

.container {
  position: absolute;
  background: $white;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
