@import '../../main-components/styling/variables.scss';

.container {
  background: $white;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.StatsPanel{
  position: absolute;
  top:0%;
  left:0%;
  padding-top: 30px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
