@import 'variables';

.h1{
  font-size: 50px;
  font-family: 'Helvetica';
  font-weight: 100;
}

.h2{
  font-size: 30px;
  font-family: 'Helvetica';
}

.h2{
  font-size: 20px;
  font-family: 'Helvetica';
}

.marginBottomSmall{
  margin-bottom: 20px;
}
.marginTopSmall{
  margin-top: 20px;
}

.flexContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

.textPrimary{
  color: $primary;
}
.textGray{
  color: $gray;
}
.textGrayLight{
  color: $grayLight;
}
.textGrayDark{
  color: $grayDark;
}
